__pycache__/\n.venv/\n*.py[cod]\n*.egg-info/\ncoverage.*\nhtmlcov/\n.pytest_cache/\n*.log\nfirmware/sources/*.ino\nfirmware/binaries/*.hex\nfirmware/metadata/*.json\nfirmware/metadata/per_customer/*.json\ngui/state/presets/*.json\ngui/config/*.json\ngui/*.log\noutput/zips/\nrelease/\n*.zip\n*.sha256\n.DS_Store\nThumbs.db\n*.swp\n*.bak\n.env
.backups/
.coverage
logs/event_trace_20250727T040817.json
logs/event_trace_20250727T040824.json
logs/event_trace_20250727T040834.json
logs/event_trace_20250727T041119.json
logs/event_trace_20250727T041123.json
logs/event_trace_20250727T041125.json
logs/event_trace_20250727T041425.json
logs/event_trace_20250727T041455.json
logs/flashlog.txt
*__init__*
tests/__pycache__
logs
.venv/
build
